In [224]:
import pandas as pd
import numpy as np
from keras.layers import Dense
from sklearn.linear_model import LinearRegression, LogisticRegression
from keras import Sequential
from sklearn.preprocessing import LabelEncoder
from keras.losses import CategoricalCrossentropy, BinaryCrossentropy, SparseCategoricalCrossentropy, MeanSquaredError
from  sklearn.model_selection import train_test_split
from keras.optimizers import Adam
import tensorflow as tf

In [100]:
data = pd.read_csv("Data/Egypt_Houses_Price.csv")
data = data.iloc[:2501, :6].dropna()
print(data.isnull().sum())
data

Type         0
Price        0
Bedrooms     0
Bathrooms    0
Area         0
Furnished    0
dtype: int64

           Type    Price Bedrooms Bathrooms Area Furnished
0        Duplex  4000000        3         3  400        No
1     Apartment  4000000        3         3  160        No
2     Apartment  2250000        3         2  165        No
3     Apartment  1900000        3         2  230        No
4     Apartment  5800000        2         3  160        No
...         ...      ...      ...       ...  ...       ...
2496  Apartment   480000        2         2  145   Unknown
2497  Apartment   399000        3         2  150   Unknown
2498  Apartment  2500000        3         2  125        No
2499  Apartment  2025000        2         2  105   Unknown
2500  Apartment  1500000        3         2  200   Unknown

[2500 rows x 6 columns]

In [201]:
x = data.iloc[:, 2:5]
x2 = data.iloc[:, 5:6].replace("Unknown", "No")
y = data['Price']
x

     Bedrooms Bathrooms Area
0           3         3  400
1           3         3  160
2           3         2  165
3           3         2  230
4           2         3  160
...       ...       ...  ...
2496        2         2  145
2497        3         2  150
2498        3         2  125
2499        2         2  105
2500        3         2  200

[2500 rows x 3 columns]

In [134]:
labelencoder = LabelEncoder()
x_transform = labelencoder.fit_transform(x2)
labelencoder.classes_

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['No', 'Yes'], dtype=object)

In [135]:
x_11 = pd.concat([x, pd.DataFrame(x_transform)], axis=1)

     Bedrooms Bathrooms Area    0
0           3         3  400  0.0
1           3         3  160  0.0
2           3         2  165  0.0
3           3         2  230  0.0
4           2         3  160  0.0
...       ...       ...  ...  ...
2497        3         2  150  0.0
2498        3         2  125  0.0
2499        2         2  105  0.0
2500        3         2  200  NaN
2325      NaN       NaN  NaN  0.0

[2501 rows x 4 columns]

In [203]:
x

     Bedrooms Bathrooms Area
0           3         3  400
1           3         3  160
2           3         2  165
3           3         2  230
4           2         3  160
...       ...       ...  ...
2496        2         2  145
2497        3         2  150
2498        3         2  125
2499        2         2  105
2500        3         2  200

[2500 rows x 3 columns]

In [210]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)
x_train = tf.convert_to_tensor(x_train, dtype=tf.float32)
y_train = tf.convert_to_tensor(y_train, dtype=tf.float32)

In [225]:
model=Sequential([
    Dense(units=15, activation='linear'),
    Dense(units=25, activation='linear'),
    Dense(units=1, activation='linear')
])
model.compile(optimizer=Adam(learning_rate=0.3), loss=MeanSquaredError())
model.fit(pd.DataFrame(x_train), pd.DataFrame(y_train), epochs=100)

Epoch 1/100
63/63 [==============================] - 0s 793us/step - loss: 3177486745600.0000
Epoch 2/100
63/63 [==============================] - 0s 744us/step - loss: 2492311535616.0000
Epoch 3/100
63/63 [==============================] - 0s 762us/step - loss: 2410152198144.0000
Epoch 4/100
63/63 [==============================] - 0s 755us/step - loss: 2425070813184.0000
Epoch 5/100
63/63 [==============================] - 0s 761us/step - loss: 2499250487296.0000
Epoch 6/100
63/63 [==============================] - 0s 746us/step - loss: 2414725562368.0000
Epoch 7/100
63/63 [==============================] - 0s 745us/step - loss: 2391647191040.0000
Epoch 8/100
63/63 [==============================] - 0s 752us/step - loss: 2367495864320.0000
Epoch 9/100
63/63 [==============================] - 0s 750us/step - loss: 2369170440192.0000
Epoch 10/100
63/63 [==============================] - 0s 757us/step - loss: 2420746485760.0000
Epoch 11/100
63/63 [==============================] - 0s 735us/step - loss: 2342648283136.0000
Epoch 12/100
63/63 [==============================] - 0s 757us/step - loss: 2282257121280.0000
Epoch 13/100
63/63 [==============================] - 0s 764us/step - loss: 2304875692032.0000
Epoch 14/100
63/63 [==============================] - 0s 730us/step - loss: 2254051999744.0000
Epoch 15/100
63/63 [==============================] - 0s 797us/step - loss: 2278870482944.0000
Epoch 16/100
63/63 [==============================] - 0s 932us/step - loss: 2284499238912.0000
Epoch 17/100
63/63 [==============================] - 0s 783us/step - loss: 2281954607104.0000
Epoch 18/100
63/63 [==============================] - 0s 742us/step - loss: 2286579351552.0000
Epoch 19/100
63/63 [==============================] - 0s 781us/step - loss: 2417741266944.0000
Epoch 20/100
63/63 [==============================] - 0s 771us/step - loss: 2235166097408.0000
Epoch 21/100
63/63 [==============================] - 0s 767us/step - loss: 2272529219584.0000
Epoch 22/100
63/63 [==============================] - 0s 764us/step - loss: 2291588136960.0000
Epoch 23/100
63/63 [==============================] - 0s 665us/step - loss: 2255575056384.0000
Epoch 24/100
63/63 [==============================] - 0s 804us/step - loss: 2257801707520.0000
Epoch 25/100
63/63 [==============================] - 0s 804us/step - loss: 2219569840128.0000
Epoch 26/100
63/63 [==============================] - 0s 806us/step - loss: 2295995039744.0000
Epoch 27/100
63/63 [==============================] - 0s 883us/step - loss: 2279927185408.0000
Epoch 28/100
63/63 [==============================] - 0s 734us/step - loss: 2219856363520.0000
Epoch 29/100
63/63 [==============================] - 0s 758us/step - loss: 2211524378624.0000
Epoch 30/100
63/63 [==============================] - 0s 777us/step - loss: 2195367264256.0000
Epoch 31/100
63/63 [==============================] - 0s 779us/step - loss: 2287679307776.0000
Epoch 32/100
63/63 [==============================] - 0s 750us/step - loss: 2192685531136.0000
Epoch 33/100
63/63 [==============================] - 0s 766us/step - loss: 2215861813248.0000
Epoch 34/100
63/63 [==============================] - 0s 777us/step - loss: 2150318473216.0000
Epoch 35/100
63/63 [==============================] - 0s 770us/step - loss: 2194754764800.0000
Epoch 36/100
63/63 [==============================] - 0s 770us/step - loss: 2315628576768.0000
Epoch 37/100
63/63 [==============================] - 0s 751us/step - loss: 2224173350912.0000
Epoch 38/100
63/63 [==============================] - 0s 774us/step - loss: 2195965345792.0000
Epoch 39/100
63/63 [==============================] - 0s 769us/step - loss: 2227792248832.0000
Epoch 40/100
63/63 [==============================] - 0s 748us/step - loss: 2179532587008.0000
Epoch 41/100
63/63 [==============================] - 0s 774us/step - loss: 2206214914048.0000
Epoch 42/100
63/63 [==============================] - 0s 758us/step - loss: 2181962399744.0000
Epoch 43/100
63/63 [==============================] - 0s 753us/step - loss: 2173477584896.0000
Epoch 44/100
63/63 [==============================] - 0s 673us/step - loss: 2204588048384.0000
Epoch 45/100
63/63 [==============================] - 0s 809us/step - loss: 2158647967744.0000
Epoch 46/100
63/63 [==============================] - 0s 769us/step - loss: 2139619852288.0000
Epoch 47/100
63/63 [==============================] - 0s 805us/step - loss: 2135995187200.0000
Epoch 48/100
63/63 [==============================] - 0s 855us/step - loss: 2169949388800.0000
Epoch 49/100
63/63 [==============================] - 0s 772us/step - loss: 2134924197888.0000
Epoch 50/100
63/63 [==============================] - 0s 764us/step - loss: 2178721513472.0000
Epoch 51/100
63/63 [==============================] - 0s 768us/step - loss: 2184878882816.0000
Epoch 52/100
63/63 [==============================] - 0s 759us/step - loss: 2198240755712.0000
Epoch 53/100
63/63 [==============================] - 0s 757us/step - loss: 2145308246016.0000
Epoch 54/100
63/63 [==============================] - 0s 757us/step - loss: 2200645926912.0000
Epoch 55/100
63/63 [==============================] - 0s 751us/step - loss: 2163965427712.0000
Epoch 56/100
63/63 [==============================] - 0s 765us/step - loss: 2221488996352.0000
Epoch 57/100
63/63 [==============================] - 0s 744us/step - loss: 2187516968960.0000
Epoch 58/100
63/63 [==============================] - 0s 749us/step - loss: 2199376363520.0000
Epoch 59/100
63/63 [==============================] - 0s 771us/step - loss: 2204172288000.0000
Epoch 60/100
63/63 [==============================] - 0s 777us/step - loss: 2143963447296.0000
Epoch 61/100
63/63 [==============================] - 0s 764us/step - loss: 2157169344512.0000
Epoch 62/100
63/63 [==============================] - 0s 759us/step - loss: 2150054232064.0000
Epoch 63/100
63/63 [==============================] - 0s 758us/step - loss: 2213408669696.0000
Epoch 64/100
63/63 [==============================] - 0s 756us/step - loss: 2195122814976.0000
Epoch 65/100
63/63 [==============================] - 0s 754us/step - loss: 2144478167040.0000
Epoch 66/100
63/63 [==============================] - 0s 777us/step - loss: 2190874902528.0000
Epoch 67/100
63/63 [==============================] - 0s 792us/step - loss: 2195810287616.0000
Epoch 68/100
63/63 [==============================] - 0s 755us/step - loss: 2213645910016.0000
Epoch 69/100
63/63 [==============================] - 0s 755us/step - loss: 2215067254784.0000
Epoch 70/100
63/63 [==============================] - 0s 763us/step - loss: 2224565780480.0000
Epoch 71/100
63/63 [==============================] - 0s 783us/step - loss: 2160396730368.0000
Epoch 72/100
63/63 [==============================] - 0s 843us/step - loss: 2179080912896.0000
Epoch 73/100
63/63 [==============================] - 0s 785us/step - loss: 2184037662720.0000
Epoch 74/100
63/63 [==============================] - 0s 756us/step - loss: 2155184783360.0000
Epoch 75/100
63/63 [==============================] - 0s 763us/step - loss: 2170872528896.0000
Epoch 76/100
63/63 [==============================] - 0s 739us/step - loss: 2152922087424.0000
Epoch 77/100
63/63 [==============================] - 0s 759us/step - loss: 2142033149952.0000
Epoch 78/100
63/63 [==============================] - 0s 742us/step - loss: 2258745425920.0000
Epoch 79/100
63/63 [==============================] - 0s 804us/step - loss: 2206852972544.0000
Epoch 80/100
63/63 [==============================] - 0s 854us/step - loss: 2135801593856.0000
Epoch 81/100
63/63 [==============================] - 0s 742us/step - loss: 2149277237248.0000
Epoch 82/100
63/63 [==============================] - 0s 871us/step - loss: 2196825047040.0000
Epoch 83/100
63/63 [==============================] - 0s 810us/step - loss: 2174126260224.0000
Epoch 84/100
63/63 [==============================] - 0s 741us/step - loss: 2230420504576.0000
Epoch 85/100
63/63 [==============================] - 0s 743us/step - loss: 2156562612224.0000
Epoch 86/100
63/63 [==============================] - 0s 741us/step - loss: 2127306424320.0000
Epoch 87/100

63/63 [==============================] - 0s 733us/step - loss: 2160461217792.0000
Epoch 88/100
63/63 [==============================] - 0s 754us/step - loss: 2157120585728.0000
Epoch 89/100
63/63 [==============================] - 0s 784us/step - loss: 2160521773056.0000
Epoch 90/100
63/63 [==============================] - 0s 806us/step - loss: 2186640752640.0000
Epoch 91/100
63/63 [==============================] - 0s 825us/step - loss: 2213806080000.0000
Epoch 92/100
63/63 [==============================] - 0s 745us/step - loss: 2122036019200.0000
Epoch 93/100
63/63 [==============================] - 0s 764us/step - loss: 2194596036608.0000
Epoch 94/100
63/63 [==============================] - 0s 774us/step - loss: 2236817604608.0000
Epoch 95/100
63/63 [==============================] - 0s 760us/step - loss: 2213699649536.0000
Epoch 96/100
63/63 [==============================] - 0s 746us/step - loss: 2177259405312.0000
Epoch 97/100
63/63 [==============================] - 0s 745us/step - loss: 2217860399104.0000
Epoch 98/100
63/63 [==============================] - 0s 749us/step - loss: 2208406962176.0000
Epoch 99/100
63/63 [==============================] - 0s 767us/step - loss: 2154730618880.0000
Epoch 100/100
63/63 [==============================] - 0s 763us/step - loss: 2129543430144.0000

In [226]:
model.predict(tf.convert_to_tensor(x_test, dtype=tf.float32))

16/16 [==============================] - 0s 476us/step

array([[ 589915.44],
       [1376817.1 ],
       [3493264.5 ],
       [1698956.5 ],
       [1349046.6 ],
       [1667578.5 ],
       [1906405.9 ],
       [1739782.1 ],
       [1487899.6 ],
       [1543441.  ],
       [1532332.6 ],
       [3585738.  ],
       [4563264.  ],
       [ 471332.1 ],
       [1404587.9 ],
       [2643320.8 ],
       [ 712106.25],
       [1510116.1 ],
       [2874647.  ],
       [2482251.  ],
       [1869473.9 ],
       [1739782.1 ],
       [1765605.9 ],
       [ 443561.4 ],
       [1504562.  ],
       [1571211.4 ],
       [1610090.5 ],
       [2698861.8 ],
       [3680158.2 ],
       [ 850959.4 ],
       [1567604.4 ],
       [2698862.  ],
       [ 517711.9 ],
       [1487899.6 ],
       [1165760.4 ],
       [2426709.8 ],
       [2976568.2 ],
       [1426804.4 ],
       [2387831.2 ],
       [ 534374.25],
       [2432263.8 ],
       [1534279.5 ],
       [ 795418.1 ],
       [ 321370.62],
       [1404587.9 ],
       [1487899.6 ],
       [ 534250.7 ],
       [3263436.  ],
       [2421155.8 ],
       [ 712106.25],
       [1326830.1 ],
       [1487899.6 ],
       [1471237.2 ],
       [3159854.  ],
       [1848917.8 ],
       [2432263.8 ],
       [ 506603.66],
       [1506509.  ],
       [1745336.4 ],
       [2532238.  ],
       [ 628794.4 ],
       [ 934271.25],
       [2587779.5 ],
       [1421250.4 ],
       [1349046.6 ],
       [ 773201.5 ],
       [2809944.5 ],
       [2865485.5 ],
       [1349046.6 ],
       [2337843.8 ],
       [ 230838.39],
       [1404587.9 ],
       [1365709.  ],
       [1543441.  ],
       [1700903.2 ],
       [2554454.8 ],
       [ 913877.94],
       [5690953.  ],
       [1904459.1 ],
       [1504562.  ],
       [2387831.2 ],
       [2365614.2 ],
       [1626752.8 ],
       [1354600.8 ],
       [ 249167.03],
       [2832160.8 ],
       [ 360249.56],
       [1432358.4 ],
       [2426709.8 ],
       [2402546.8 ],
       [2404493.2 ],
       [1376817.1 ],
       [1349046.6 ],
       [ 706552.06],
       [1528725.5 ],
       [1365709.  ],
       [1806431.6 ],
       [1097287.8 ],
       [1626752.8 ],
       [3254274.5 ],
       [1678686.9 ],
       [3254274.5 ],
       [2560008.8 ],
       [1382371.2 ],
       [2365614.2 ],
       [ 878730.  ],
       [1617591.5 ],
       [2274801.5 ],
       [1454575.  ],
       [1399033.8 ],
       [1393479.5 ],
       [ 584361.3 ],
       [2443372.2 ],
       [2348952.  ],
       [1543441.  ],
       [2865485.5 ],
       [1432358.4 ],
       [ 656564.94],
       [1476791.4 ],
       [1782268.4 ],
       [2446979.8 ],
       [2448926.2 ],
       [1454575.  ],
       [ 534374.25],
       [1987771.  ],
       [2485858.5 ],
       [1645362.  ],
       [1834202.4 ],
       [3593238.8 ],
       [2374776.  ],
       [1598982.2 ],
       [2698861.8 ],
       [3308031.5 ],
       [1567604.4 ],
       [ 293600.03],
       [ 353584.62],
       [1243518.1 ],
       [1404587.9 ],
       [1432358.4 ],
       [1637861.  ],
       [1571211.4 ],
       [1404587.9 ],
       [1304613.6 ],
       [1756444.5 ],
       [2587779.5 ],
       [1515670.2 ],
       [1648969.4 ],
       [2532238.  ],
       [3170962.5 ],
       [1376817.1 ],
       [ 551036.56],
       [3143192.  ],
       [2587779.5 ],
       [1571211.4 ],
       [1504562.  ],
       [1728673.9 ],
       [ 925109.9 ],
       [2921026.8 ],
       [1232410.  ],
       [1848917.8 ],
       [2471142.8 ],
       [3396897.8 ],
       [ 712106.25],
       [1723119.8 ],
       [1510116.1 ],
       [ 734322.7 ],
       [1243518.1 ],
       [1598982.2 ],
       [1515670.2 ],
       [2310073.2 ],
       [2893256.2 ],
       [ 517711.9 ],
       [2617497.  ],
       [2800783.2 ],
       [1404587.9 ],
       [1700903.2 ],
       [2708023.2 ],
       [1404587.9 ],
       [1376817.1 ],
       [ 254721.14],
       [1543441.  ],
       [4644589.5 ],
       [1332384.2 ],
       [1321276.  ],
       [1767552.8 ],
       [1784215.1 ],
       [1287951.2 ],
       [1471237.2 ],
       [ 332478.88],
       [2482251.  ],
       [ 867621.75],
       [ 321370.66],
       [1399033.8 ],
       [2202598.  ],
       [2337843.8 ],
       [2582225.2 ],
       [2308126.2 ],
       [2809944.5 ],
       [ 415790.78],
       [1432358.4 ],
       [ 545482.44],
       [ 712106.25],
       [1293505.4 ],
       [1737835.5 ],
       [1243518.1 ],
       [1995148.5 ],
       [ 634348.5 ],
       [2376722.8 ],
       [2709970.2 ],
       [1537886.9 ],
       [1560103.2 ],
       [2291463.8 ],
       [2098853.8 ],
       [ 554643.9 ],
       [2047082.4 ],
       [ 232504.61],
       [2465588.8 ],
       [2365614.2 ],
       [ 567699.  ],
       [ 712106.25],
       [1487899.6 ],
       [ 712106.25],
       [ 565752.1 ],
       [1756444.5 ],
       [1811985.8 ],
       [1243518.1 ],
       [1773106.9 ],
       [2365614.2 ],
       [2543346.5 ],
       [2448926.2 ],
       [ 795418.1 ],
       [ 817634.6 ],
       [1826701.2 ],
       [3393290.5 ],
       [1745336.4 ],
       [2460034.8 ],
       [3531980.5 ],
       [2659983.2 ],
       [1460129.1 ],
       [1385978.5 ],
       [1432358.4 ],
       [ 221396.38],
       [2826483.2 ],
       [1543441.  ],
       [1413749.4 ],
       [1371263.1 ],
       [1739782.1 ],
       [2024865.9 ],
       [2930188.5 ],
       [2365614.2 ],
       [1710064.8 ],
       [4050175.  ],
       [1399033.8 ],
       [2426709.8 ],
       [1543440.9 ],
       [1528725.5 ],
       [1365709.  ],
       [2587779.5 ],
       [1626752.8 ],
       [2587779.5 ],
       [ 610185.1 ],
       [1449020.9 ],
       [ 321370.62],
       [ 823188.75],
       [3070988.5 ],
       [1515670.2 ],
       [1626752.8 ],
       [3428275.5 ],
       [2532238.  ],
       [1393479.5 ],
       [ 795418.1 ],
       [2471142.8 ],
       [1776714.2 ],
       [2615550.  ],
       [1432358.4 ],
       [1604536.1 ],
       [2263693.2 ],
       [1454575.  ],
       [1839632.9 ],
       [ 878730.  ],
       [2130394.2 ],
       [1432358.4 ],
       [1360154.9 ],
       [2365614.2 ],
       [2260086.2 ],
       [2448926.2 ],
       [ 925109.9 ],
       [2476696.8 ],
       [3032109.5 ],
       [3469101.2 ],
       [3280261.  ],
       [1782268.4 ],
       [2369221.8 ],
       [2643320.8 ],
       [1778661.  ],
       [2265640.2 ],
       [2059974.6 ],
       [ 138084.5 ],
       [1354600.8 ],
       [ 997313.44],
       [1571211.4 ],
       [ 443561.4 ],
       [2537792.2 ],
       [2471142.8 ],
       [2152610.8 ],
       [ 443561.4 ],
       [4826417.5 ],
       [1471237.2 ],
       [3574629.5 ],
       [1626752.8 ],
       [1598982.2 ],
       [ 276937.66],
       [1171314.5 ],
       [1432358.4 ],
       [1543441.  ],
       [2426709.8 ],
       [1528725.4 ],
       [2224814.2 ],
       [1532332.6 ],
       [2365614.2 ],
       [2376722.8 ],
       [1582319.9 ],
       [1969448.  ],
       [2498913.5 ],
       [ 823188.75],
       [ 221396.38],
       [1432358.4 ],
       [1404587.9 ],
       [1528725.4 ],
       [1432358.4 ],
       [2498913.5 ],
       [ 443561.4 ],
       [ 332478.88],
       [1571211.4 ],
       [4418857.  ],
       [1471237.2 ],
       [1506509.  ],
       [2828553.8 ],
       [ 739876.8 ],
       [1349046.6 ],
       [1047300.56],
       [1834202.4 ],
       [2682199.5 ],
       [2448926.2 ],
       [2421155.8 ],
       [2865485.5 ],
       [1543441.  ],
       [1598982.2 ],
       [1834202.4 ],
       [2800783.2 ],
       [ 499102.66],
       [2437818.  ],
       [1689795.  ],
       [1543441.  ],
       [1571211.4 ],
       [2778566.2 ],
       [1848917.8 ],
       [4020906.2 ],
       [1800877.5 ],
       [2985729.2 ],
       [2387831.2 ],
       [1728673.9 ],
       [1554549.1 ],
       [2623051.  ],
       [1393479.5 ],
       [1728673.9 ],
       [ 934271.25],
       [1710064.8 ],
       [1554549.1 ],
       [2452533.8 ],
       [2404493.2 ],
       [1710064.8 ],
       [ 778755.7 ],
       [1376817.1 ],
       [2502521.  ],
       [2187882.2 ],
       [ 878730.  ],
       [1276843.  ],
       [1493453.9 ],
       [ 221396.38],
       [1573158.5 ],
       [2498913.5 ],
       [1582319.6 ],
       [1565657.5 ],
       [1800877.5 ],
       [1393479.5 ],
       [ 925109.9 ],
       [2376722.8 ],
       [2648874.8 ],
       [2537792.2 ],
       [1321276.  ],
       [1645362.  ],
       [1265734.8 ],
       [2532238.  ],
       [1532332.6 ],
       [3476439.5 ],
       [2682199.5 ],
       [2267424.2 ],
       [ 706552.06],
       [ 610185.1 ],
       [ 673227.3 ],
       [2365614.2 ],
       [2476696.8 ],
       [1393479.5 ],
       [2632212.5 ],
       [2432263.8 ],
       [2448926.2 ],
       [1460129.1 ],
       [1265734.8 ],
       [1421250.4 ],
       [1673132.8 ],
       [2310073.2 ],
       [1199085.1 ],
       [2998785.  ],
       [2308126.2 ],
       [2319234.5 ],
       [2465588.8 ],
       [1515670.2 ],
       [1673132.8 ],
       [1354600.8 ],
       [2448926.2 ],
       [1387925.5 ],
       [1662024.4 ],
       [1458182.4 ],
       [ 712106.25],
       [2382277.  ],
       [2448926.2 ],
       [2637766.5 ],
       [1304613.6 ],
       [1645362.  ],
       [2089692.  ],
       [1504562.  ],
       [1554549.1 ],
       [ 712106.25],
       [2415601.8 ],
       [2615550.  ],
       [1454575.  ],
       [1376817.1 ],
       [4098664.5 ],
       [2782173.8 ],
       [1510116.1 ],
       [1654523.5 ],
       [1515670.2 ],
       [ 665726.44],
       [2615550.  ],
       [1861972.9 ],
       [1756444.5 ],
       [2698862.  ],
       [1108272.5 ],
       [2585832.5 ],
       [2404493.2 ],
       [2448926.2 ],
       [1571211.4 ],
       [1728673.9 ],
       [1008421.75],
       [1002867.5 ],
       [3402289.2 ],
       [1506509.  ],
       [2282302.8 ],
       [1063963.  ],
       [1515670.2 ],
       [1793376.5 ],
       [1710064.8 ],
       [1856418.9 ],
       [2130394.2 ],
       [2698861.8 ],
       [2365614.2 ],
       [1900851.9 ],
       [1900851.9 ],
       [1598982.2 ],
       [1399033.8 ],
       [1526778.6 ],
       [ 443561.4 ],
       [1960000.2 ],
       [2045259.1 ],
       [1771160.2 ],
       [2024989.4 ],
       [1471237.2 ],
       [1543440.9 ],
       [2541400.  ],
       [2643320.8 ],
       [ 601023.7 ],
       [1432358.4 ],
       [1404587.9 ],
       [1571211.4 ],
       [2789675.  ],
       [ 656564.94],
       [1349046.6 ],
       [3532143.5 ],
       [1243518.1 ],
       [2637766.5 ],
       [1460129.1 ],
       [1578712.6 ],
       [2304519.2 ],
       [ 778755.7 ],
       [1487899.6 ],
       [1460129.1 ],
       [1485953.  ],
       [2726632.5 ],
       [1654523.6 ]], dtype=float32)

In [227]:
print(x_test)

     Bedrooms Bathrooms Area
1533        2         1   78
1686        3         2  140
1881        3         4  205
2437        3         2  198
2260        3         2  135
...       ...       ...  ...
245         3         2  160
226         3         2  155
35          4         2  238
980         3         3  225
1553        3         2  190

[500 rows x 3 columns]